We used this file for getting tweet_ids related to the election in order to hydrate them.
We used the data from 22 days before the election all the way to the election because 22 days before the election is the average start day of early voting (https://www.ncsl.org/research/elections-and-campaigns/early-voting-in-state-elections.aspx) and we wanted to classify tweets based on what people were saying around the time voting started to see if classifying these tweets could help predict state election winners.

In [1]:
import pandas as pd
import numpy as np

In [4]:
date_list = []
for x in range (12,32):
    date_list.append("10/{}/20".format(x))
for x in range (1,4):
    date_list.append("11/{}/20".format(x)) 
print(date_list)

['10/12/20', '10/13/20', '10/14/20', '10/15/20', '10/16/20', '10/17/20', '10/18/20', '10/19/20', '10/20/20', '10/21/20', '10/22/20', '10/23/20', '10/24/20', '10/25/20', '10/26/20', '10/27/20', '10/28/20', '10/29/20', '10/30/20', '10/31/20', '11/1/20', '11/2/20', '11/3/20']

In [5]:
filename = "uselection_tweets_1jul_11nov.csv"
chunksize = 10 ** 6
df_main = pd.DataFrame()
for chunk in pd.read_csv(filename, chunksize=chunksize, sep=';', usecols=['Created-At', 'Id']):
    df = chunk
    df = df[(df['Created-At'].str.contains('|'.join(date_list)))]
    df_main = pd.concat([df_main,df])
#     display(df)
df_main.drop(columns=['Created-At'], inplace=True)
display(df_main)

                           Id
13579275  1315398407775756289
13579276  1315398407712800769
13579277  1315398407670951939
13579278  1315398407616262144
13579279  1315398407612137477
...                       ...
20720620  1323728933460664321
20720621  1323728933305671682
20720622  1323728933292961792
20720623  1323728933246808064
20720624  1323728933146251266

[7141350 rows x 1 columns]

In [7]:
def save_tweet_ids(number_of_tweets, filename):
    df_main_random = df_main.sample(n=number_of_tweets)
    election_tweet_ids_path = filename
    with open(election_tweet_ids_path, 'w') as f:
        for index,row in df_main_random.iterrows():
            f.write("%s\n" % str(row["Id"]))

In [8]:
save_tweet_ids(10000, "sample_10k_tweets.txt")